<% layout("../layouts/boilerplate") -%>
  <div class="row">
    <div class="col-8 offset-2">
      <br><br>
    <h3>Edit Listing</h3>
    <form method="POST" action="/listings/<%=listing.id %>?_method=PUT" novalidate class="needs-validation">
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input
          class="form-control"
          type="text"
          name="listing[title]"
          placeholder="edit title"
          value="<%=listing.title %>"
          required
        />
        <div class="valid-feedback">Title looks good!</div>
        <div class="invalid-feedback">Please enter valid title!</div>
      </div>

      <div class="mb-3">
        <label for="image" class="form-label">Image url/link</label>
        <input
        type="text"
        class="form-control"
        name="listing[image]"
        placeholder="edit image URL/link"
        value="<%=listing.image %>"
        required
      />
      <div class="valid-feedback">Done!</div>
      <div class="invalid-feedback">image url / or link should be required!</div>
      </div>

      <div class="row">
        <div class="mb-3 col-md-4">
          <label for="price" class="form-label">Price</label>
          <input
          type="number"
          class="form-control"
          name="listing[price]"
          placeholder="edit price"
          value="<%=listing.price %>"
          required
        />
        <div class="valid-feedback">Done!</div>
        <div class="invalid-feedback">Please enter price!</div>
        </div>

        <div class="mb-3 col-md-8">
          <label for="country" class="form-label">Country</label>
          <input
          type="text"
          class="form-control"
          name="listing[country]"
          placeholder="edit country"
          value="<%=listing.country %>"
          required
        />
        <div class="valid-feedback">Done!</div>
        <div class="invalid-feedback">Please enter country!</div>
        </div>
      </div>

      <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input
        type="text"
        class="form-control"
        name="listing[location]"
        placeholder="edit location"
        value="<%=listing.location %>"
        required
      />
      <div class="valid-feedback">Done!</div>
      <div class="invalid-feedback">Please enter valid location!</div>
      </div>


      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea
        name="listing[description]"
        class="form-control"
        id="description"
        cols="50"
        rows="10"
        required
      ><%=listing.description %></textarea>
      <div class="valid-feedback">Done!</div>
      <div class="invalid-feedback">Please enter valid description!</div>
      </div>
      <button class="btn btn-dark edit-btn">Update listing</button>
      <br><br>
    </form>
  </div>
  </div>
  <script src="/formValid.js"></script>
